In [4]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv("airbnb.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,10/19/2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,5/21/2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,7/5/2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,11/19/2018,0.10,1,0

In [6]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [7]:
df.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [8]:
df.price.describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [9]:
df.price.quantile(0)

np.float64(0.0)

In [10]:
df.price.quantile(0.25)

np.float64(69.0)

In [11]:
df.price.quantile(0.50)

np.float64(106.0)

In [12]:
df.price.quantile(0.75)

np.float64(175.0)

In [13]:
df.price.quantile(0.25,interpolation="higher")

np.int64(69)

In [14]:
min_thresh,max_thresh=df.price.quantile([0.01,0.9999])
min_thresh,max_thresh

(30.0, 9999.0)

In [15]:
# print the outliers
df[(df.price<min_thresh)].head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
957,375249,Enjoy Staten Island Hospitality,1887999,Rimma & Jim,Staten Island,Graniteville,40.62109,-74.16534,Private room,20,3,80,5/26/2019,0.92,1,226
2675,1428154,"Central, Peaceful Semi-Private Room",5912572,Tangier,Brooklyn,Flatbush,40.63899,-73.95177,Shared room,29,2,5,10/20/2014,0.07,1,321
2860,1620248,Large furnished 2 bedrooms- - 30 days Minimum,2196224,Sally,Manhattan,East Village,40.73051,-73.98140,Entire home/apt,10,30,0,NaN,NaN,4,137
3020,1767037,Small Cozy Room Wifi & AC near JFK,9284163,Antonio,Queens,Woodhaven,40.68968,-73.85219,Private room,29,2,386,6/19/2019,5.53,3,50
3918,2431607,"Bright, Airy Room Share for 2",4973668,Gloria,Brooklyn,Bedford-Stuyvesant,40.68642,-73.93440,Shared room,25,5,76,6/6/2019,1.22,3,258

In [16]:
df[df.price>max_thresh].head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
9151,7003697,Furnished room in Astoria apartment,20582832,Kathrine,Queens,Astoria,40.76810,-73.91651,Private room,10000,100,2,2/13/2016,0.04,1,0
17692,13894339,Luxury 1 bedroom apt. -stunning Manhattan views,5143901,Erin,Brooklyn,Greenpoint,40.73260,-73.95739,Entire home/apt,10000,5,5,7/27/2017,0.16,1,0
29238,22436899,1-BR Lincoln Center,72390391,Jelena,Manhattan,Upper West Side,40.77213,-73.98665,Entire home/apt,10000,30,0,NaN,NaN,1,83

In [17]:
# dataset without outliers 
df_new=df[(df.price>min_thresh) & (df.price<max_thresh)]
df_new.shape

(48230, 16)

In [22]:
df_new.price

0        149
1        225
2        150
3         89
4         80
        ...
48890     70
48891     40
48892    115
48893     55
48894     90
Name: price, Length: 48230, dtype: int64

In [19]:
df_new.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.823000e+04,4.823000e+04,48230.000000,48230.000000,48230.000000,48230.000000,48230.000000,38329.000000,48230.000000,48230.000000
mean,1.896468e+07,6.723609e+07,40.729156,-73.952527,153.225544,7.020589,23.372776,1.373443,7.186212,112.842256
std,1.099523e+07,7.852244e+07,0.054225,0.045892,214.912102,20.545383,44.684585,1.680838,33.160148,131.576580
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,31.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.412004e+06,7.714575e+06,40.690370,-73.983217,70.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.960605e+07,3.038406e+07,40.723295,-73.955960,110.000000,3.000000,5.000000,0.710000,1.000000,45.000000
75%,2.911297e+07,1.072729e+08,40.763180,-73.936980,179.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,8500.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [20]:
df_new.price.describe()

count    48230.000000
mean       153.225544
std        214.912102
min         31.000000
25%         70.000000
50%        110.000000
75%        179.000000
max       8500.000000
Name: price, dtype: float64