In [2]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity,cosine_distances

In [4]:
doc1=""" 
Tesla's Model Y contributed to 65% of the company's total EV sales. Demand for electric vehicles is increasing by 25% YoY. The main competitor, Rivian, recorded 7% lower sales growth compared to Tesla.
"""

doc2= """
The rising adoption of EVs, historical demand spikes in Q4 ahead of tax incentives, 
and upcoming advancements in battery technology suggest a strong outlook for Tesla's 
stock performance. Analysts anticipate a surge in Model 3 and Model Y sales, 
exceeding previous investor expectations.
"""

doc3="""  
Ford's flagship electric truck, the F-150 Lightning, is seeing stronger adoption in 
rural markets compared to Tesla's Cybertruck. The F-150 Lightning features a practical design 
that resonates with traditional truck buyers. Over 55% of Ford's EV revenue now comes from the Lightning series.
"""

doc4="""  
"General Motors unveils its latest Chevrolet Bolt EV, featuring incremental 
upgrades but a significantly lower price point. The Bolt EV's price cut of ~18%, 
similar to Tesla's recent strategy, highlights GM's focus on increasing sales volume 
and expanding its market share in the affordable EV segment.
"""

In [5]:
df = pd.DataFrame([
        {'Tesla': 3, 'Ford': 1},
        {'Tesla': 2, 'Ford': 0},
        {'Tesla': 1, 'Ford': 3},
        {'Tesla': 1, 'Ford': 2},
    ],
    index=[
        "doc1",
        "doc2",
        "doc3",
        "doc4"
    ])

df

      Tesla  Ford
doc1      3     1
doc2      2     0
doc3      1     3
doc4      1     2

In [6]:
df.loc["doc1":"doc1"]

      Tesla  Ford
doc1      3     1

In [7]:
cosine_similarity(df.loc["doc1":"doc1"],df.loc["doc2":"doc2"])

array([[0.9486833]])

In [8]:
cosine_distances(df.loc["doc1":"doc1"],df.loc["doc2":"doc2"])

array([[0.0513167]])

In [9]:
1-0.9486833

0.05131669999999999